@font-face{
  font-family: fishChip;
  src:url("../fonts/fishChip/FISHandCHIPS-Regular.ttf");
}
body {
  margin: 0;
  font-family: quicksand;
  background-color: white;
}
header {
  background-color: tomato;
  margin: 0;
  padding: 16px;
  font-family: fishChip;
  font-size: 52px;
  font-weight: 500;
  letter-spacing: 6px;
  text-align: center;
  text-shadow: 0px 0px 3px white; 
}

option[value=""]{
  display: none;
}

.table-head{
  background-color: #FAFAFA;
}